.color {
    background-color: #111111;
}

.brand div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand div img {
    width: 250px;
}

@media screen and (max-width: 480px) {
    .brand div img {
        width: 150px;
    }
}

.brand div h1,
.cata h2,
.novedades div h5 {
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fdfdcb;
}

.intro {
    border-top: 2px solid #ffd100;
    border-bottom: 2px solid #ffd100;
}

.intro div p,
.novedades div p {
    color: #fdfdcb;
    margin: 25px 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .intro div p {
        font-size: 20px;
        margin: 15px;
    }
}

.cata {
    padding-top: 25px;
}

.cata h2 {
    font-size: 30px;
    text-align: center;
}

.cata img {
    width: auto;
    height: 200px;
}

@media screen and (max-width: 480px) {
    .cata img {
        width: 100%;
        height: auto;
    }
}

.buscador-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#buscador {
    padding: 10px;
    border: 2px solid #ffd100;
    border-radius: 20px;
    background-color: #f5f5f5;
    color: #333333;
    font-size: 16px;
    width: 70%;
    box-sizing: border-box;
}

#filtros {
    padding: 10px;
    border: 2px solid #ffd100;
    border-radius: 20px;
    background-color: #f5f5f5;
    color: #333333;
    font-size: 16px;
    width: 28%;
    box-sizing: border-box;
}


#contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#contenedorProductos div {
    background: #ffffff;
    border: 3px solid #ffd100;
    border-radius: 10px;
    margin: 7px;
    padding: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    position: relative;
}

@media screen and (max-width: 480px) {
    #contenedorProductos div {
        width: 90%; 
        margin: 5px auto;
    }
}

#contenedorProductos div h3, h4 {
    font-size: 15px;
}

.agregar-carrito-btn {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    background-color: #ffd100;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px; /
}

.agregar-carrito-btn:hover {
    background-color: #e5be00;
}

.agregar-carrito-btn:active {
    transform: scale(0.98);
}

#carrito {
    background-color: #ffffff;
    border: 2px solid #ffd100;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 480px) {
    #carrito {
        padding: 10px; 
    }  
}

#toggleCarrito {
    background: none;
    border: none;
}

#toggleCarrito img {
    width: 20px;
    height: auto;
}

#contenidoCarrito {
    display: none;
}

#tablaCarrito {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#tablaCarrito img {
    width: 70px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#tablaCarrito td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

@media screen and (max-width: 480px) {
    #tablaCarrito td {
        font-size: 14px;
        padding: 5px;
    }

    #tablaCarrito button {
        font-size: 7px;
        padding: 4px 8px;
    }
}

.finalizar-compra-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ffd100;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
}

.finalizar-compra-btn:hover {
    background-color: #e5be00;
}

#totalCarrito {
    color: #333;
    font-weight: bold;
    text-align: center;
}

.novedades {
    padding-bottom: 20px;
}

.novedades div h5 {
    font-size: 30px;
    text-align: center;
}

.copyr {
    display: flex;
    justify-content: center;
    border-top: 2px solid #ffd100;
}

.copyr div p {
    color: #fdfdcb;
}