.color {
    background-color: #111111;
}

.brand div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand div img {
    width: 250px;
}

@media screen and (max-width: 480px) {
    .brand div img {
        width: 150px; /* Ajusta el tamaño de la imagen para dispositivos móviles */
    }
}

.brand div h1,
.cata h2,
.novedades div h5 {
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fdfdcb;
}

.intro {
    border-top: 2px solid #ffd100;
    border-bottom: 2px solid #ffd100;
}

.intro div p,
.novedades div p {
    color: #fdfdcb;
    margin: 25px 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .intro div p {
        font-size: 20px; /* Ajusta el tamaño del texto para dispositivos móviles */
        margin: 15px; /* Ajusta el margen para dispositivos móviles */
    }
}

.cata {
    padding-top: 25px;
}

.cata h2 {
    font-size: 30px;
    text-align: center;
}

.cata img {
    width: auto;
    height: 200px;
}

@media screen and (max-width: 480px) {
    .cata img {
        width: 100%; /* La imagen ocupa todo el ancho de su contenedor */
        height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
    }
}

#buscador {
    padding: 10px;
    border: 2px solid #ffd100;
    border-radius: 20px;
    background-color: #f5f5f5;
    color: #333333;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; /* Para que el padding no afecte el ancho total */
    margin-bottom: 20px;
}

#contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#contenedorProductos div {
    background: linear-gradient(to bottom, #ffffff, #555555);
    border: 2px solid #ffd100;
    border-radius: 10px;
    margin: 7px;
    padding: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    position: relative;
}

@media screen and (max-width: 480px) {
    #contenedorProductos div {
        width: 90%; 
        margin: 5px auto; /* Margen más pequeño y centrado horizontalmente */
    }
}

.agregar-carrito-btn {
    display: block;
    width: 100%;
    cursor: pointer;
}

.agregar-carrito-btn::after {
    content: "Agregar";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    border-radius: 3px;
    background: #ffd100;
    color: #fff;
    height: 2.5em;
    width: 92%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
}

@media screen and (max-width: 480px) {
    .agregar-carrito-btn::after {
        padding-top: 1em;
        padding-left: 1em;
        bottom: -40px;
        height: 2em;
    }
}

.agregar-carrito-btn:hover::after {
    bottom: 0;
    opacity: 1;
}

.agregar-carrito-btn:active {
    transform: scale(0.98);
}

#carrito {
    background-color: #555555;
    border: 2px solid #ffd100;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 480px) {
    #carrito {
        
        padding: 10px; /* Espaciado más pequeño */
    }  
}

#toggleCarrito {
    background: none;
    border: none;
}

#toggleCarrito img {
    width: 20px;
    height: auto;
}

#contenidoCarrito {
    display: none;
}

#tablaCarrito {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#tablaCarrito th,
#tablaCarrito td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

@media screen and (max-width: 480px) {
    #tablaCarrito th,
    #tablaCarrito td {
        font-size: 14px;
        padding: 5px; /* Espaciado más pequeño */
    }

    #tablaCarrito button {
        font-size: 7px; /* Tamaño de fuente más pequeño */
        padding: 4px 8px; /* Espaciado más pequeño */
    }
}

#tablaCarrito th {
    background-color: #ffd100;
    font-weight: bold;
}

#totalCarrito {
    color: #fff;
    font-weight: bold;
    text-align: right;
}

@media screen and (max-width: 480px) {
    #totalCarrito {
        text-align: left; /* Alinea el texto a la izquierda */
    }
}

.novedades {
    padding-bottom: 20px;
}

.novedades div h5 {
    font-size: 30px;
    text-align: center;
}

.copyr {
    display: flex;
    justify-content: center;
    border-top: 2px solid #ffd100;
}

.copyr div p {
    color: #fdfdcb;
}

